<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/rocinante.scss" | resources.ToCSS $options  }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}">
{{ end }}

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


{{ partial "math.html" . }}
<!-- For just-in-time text replacement. -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{{ if (.Params.mermaid) }}
    <script async src="https://unpkg.com/mermaid@8.4.8/dist/mermaid.min.js"></script>
{{ end }}